<ion-header>
  <ion-navbar>
    <ion-title>
      Hello BarcodeReader !!
    </ion-title>
     <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container">
  <div class="row">
    <div class="col-md-8">test</div>
    <div class="col-md-4">test</div>
    
  </div>
  
</div>
  
  <div class="config">
    <form [formGroup]="configFields" (ngSubmit)="submitConfigForm(configFields)">
      <ion-list>    
        <ion-item class="section">
          <ion-label color="primary" stacked>Orchestra Ip</ion-label>
          <ion-input placeholder="Input" formControlName="orcIp"></ion-input>
        </ion-item>
        <ion-item class="section">
          <ion-label color="primary" stacked>Proxy Ip</ion-label>
          <ion-input placeholder="Input" formControlName="proIp"></ion-input>
        </ion-item>
        <ion-item class="section">
          <ion-label color="primary" stacked>Organzation Id</ion-label>
          <ion-input placeholder="Input" formControlName="orgId"></ion-input>
        </ion-item>
        <ion-item class="section">
          <ion-label color="primary" stacked>Entrypoint Id</ion-label>
          <ion-input placeholder="Input" formControlName="entId"></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button class="button" full type="submit">UPDATE</button>
    </form>
  </div>

  
  <form [formGroup]="field" (ngSubmit)="submitRequiredForm()" >
    <div class="required-fields">
      <span class="label">Add Required Fields</span>
      <div class="input-field">
          <div class="name">
            <ion-input placeholder="Name" formControlName="name"></ion-input>
          </div>
          <div class="value">
            <ion-input placeholder="Value" formControlName="value"></ion-input>
          </div>
      </div> 
      <button ion-button type="submit">ADD</button>
    </div>
  </form>
  
  <div class="list-fields" *ngIf="requiredFields.length!=0">
    <ion-list>
      <ul>
        <ion-item *ngFor="let item of requiredFields; let i = index" >
          <li class="list-shown"> Name: {{item.name}}, Value: {{item.value}} 
            <button ion-button color="light" (click)="deleteField(i)">
              <ion-icon name="close-circle"></ion-icon>
            </button>
          </li>
        </ion-item> 
      </ul>
    </ion-list>
  </div>

    
</ion-content>

