page-home {
    .config {
        text-align: center;
    }

    .config .button {
        position: relative;
        clear: both;
        left: 40%;
        width: 20%;
        margin: 1%;
    }

    .section {
        width: 22%;
        float: left;
        margin: 1%;
    }
    
    .required-fields {
        margin: 20% 5% 5% 5%;
        padding: inherit;
        font-size: large;
        clear: both;

    }
    .input-field {
        width: 90%;
        float: left;
        
    }
    .input-field .label { 
        font-size: x-large;
        color: chocolate;
    }
    .input-field .name {
        width: 70%;
        float: left;
    }
    .input-field .value {
        width: 30%;
        float: left;
    }
    .button {
        // background-color: red;
        width: 10%;
        float: left;
        margin: 0px;
    }

    .list-fields {
        clear: both;
        width: 100%;
    }

    .list-shown .button{
        clear: both;
        // float: left;
        // width: 70%;
        // margin-right: 10%;
        
    }

}
